.profileContainer {
  max-width: 500px;
  max-height: 600px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profileImgText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 12px;
  gap: 12px;
}

.profileImg {
  border-radius: 50%;
  max-width: 200px;
  background-color: darkgrey;
}

.profileName {
  font-family: Arial, sans-serif;
  font-size: 36px;
  line-height: normal;
  font-weight: 600;
  color: black;
  margin-top: 8px;
  margin-bottom: 8px;
}

.profileText {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
  color: darkgrey;
}

.profileStats {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-top: 2px solid darkgrey;
  background-color: lightgrey;
  overflow: hidden;
}

.profileStatsEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-left: 2px solid darkgrey;
  padding: 20px 36px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  color: black;
}

.profileStatsEl:first-child {
  border-left: none;
}

.profileStatsNumber {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  color: black;
}
